{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="home-img">
    <div class="row no-gutters pt-md-0 call-section justify-content-center text-center text-oxford">
            <div class="mx-md-5 my-3 call-box call-container crimson">
                <div class="row no-gutters">
                    <div class="col-12">
                        <h3 class="call-header text-uppercase">I dismantle cars in Ireland</h3>
                    </div>
                    <div class="col-12">
                        <p>I have spare parts to sell!</p>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-gal btn-oxford text-wheel text-uppercase" href="{% url 'account_login' %}">Login or Register</a>
                    </div>
                </div>
            </div>
            <div class="mx-md-5 my-3 call-box call-container crimson">
                <div class="row no-gutters">
                    <div class="col-12">
                        <h3 class="call-header text-uppercase">I'm a car dealer in Nigeria</h3>
                    </div>
                    <div class="col-12">
                        <p>What parts can I get shipped?</p>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-gal btn-oxford text-wheel text-uppercase" href="{% url 'listings' %}">Check our latest products</a>
                    </div>
                </div>
            </div>
        </div>        
</section>

{% endblock %}