{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="home-img">
    <div class="container-fluid img-container">
        <div class="img-item"></div>
        <div class="row justify-content-center text-center text-oxford">
            <div class="col-6-md mx-5 my-5 bg-white call-container">
                <h3 class="call-header text-uppercase">I'm a car dismantler in Ireland</h3>
                <p class="call-content">I have a spare part to sell!</p>
            </div>
            <div class="col-6-md mx-5 my-5 bg-white call-container">
                <h3 class="call-header text-uppercase">I'm a car dealer in Nigeria</h3>
                <p class="call-content">I need to buy a spare part for my customers?</p>
            </div>
        </div>        
    </div>
</section>

{% endblock %}