.container-error {
    position: relative;
    text-align: center;
    font-family: "Crimson Text", sans-serif;
    color: #ff4000;
}

.centered-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.home {
    bottom: 50px;
}

.home-btn {
    text-decoration: uppercase;
    font-size: 2rem;
    padding: 1rem;
    background-color: #03254e;
    color: #ff4000;
}

div a {
    text-decoration: none;
}