@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600&family=Lato:wght@100;300;400;700&display=swap');

/* general elements styling */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
    
    background-color: #feefdd;
    font-family: "Lato", sans-serif;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

div a {
    text-decoration: none;
    color: inherit;
}

.underline {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

/* colors */

.bg-oxford {
    background-color: #03254e;
}

.bg-melon {
    background-color: #ffb49a;
}

.bg-wheel {
    background-color: #ff4000;
}

.bg-white {
    background-color: #feefdd;
}

.text-oxford {
    color: #03254e;
}

.text-wheel {
    color: #ff4000;
}

.text-melon {
    color: #ffb49a;
}

.text-black {
    color: #201e1f;
}

.text-white {
    color: #feefdd;
}

/* buttons */

.btn-home {
    font-size: 1.5rem;
    font-family: "lato", sans-serif;
    margin: 1.5rem;
}

/* tribal vertical left banner */
.tribal {
    float: left;
    width: 30px;
    height: 100vh;
    position: fixed;
}

/* nav */

#logo-lg {
    margin: 0 3rem;
}

.nav-item {
    padding-top: 50px;
    color: #ff4000;
    text-decoration: none;
}

.nav-item a:hover{
    color: #ffb49a;
}

.fa-road {
    font-size: 3rem;
}

/* home background image, code inspired from https://bootstrapmade.com/demo/Company/ */
#home-img {
    display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
	min-height: 350px;
	height: 150vh;
	background: url(../images/engine.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.3;
}

.call-section {
    padding-top: 100px;
}

.call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    border: 5px solid #ff4000;
    font-family: "Crimson Text", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

call-container .call-content {
    font-style: italic;
    font-weight: 600;
}

@media (min-width: 375px){
    #home-img {
        height: 80vh;
    }
}