{% extends 'base.html' %} {% load static %} {% block content %}

<section id="home-img" class="container fluid">
  <div class="row login-form justify-content-center">
    <div class="col-12">
      <form class="px-4 py-3">
        <div class="form-group">
          <label for="exampleDropdownFormEmail1"
            >Enter your Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleDropdownFormEmail1"
            placeholder="email@example.com"
          />
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleDropdownFormPassword1"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
