{% extends 'base.html'%}
{% load static %}

{% block content %}

<main class="expertise container-fluid">
    <div class="row">
        <div class="banner col-12">
            <div class="banner-img"></div>
            <div class="slogan crimson text-center px-4">
                <h2 class="slogan-header text-wheel">We are globally connected!</h2>
                <h4 class="text-oxford">Committed to a fair, transparent and empowering trade.</h4>
                <h4 class="text-oxford d-none d-md-block">Our recognised expertise guarantees quality products from the best resellers and develops reliable buyers.</h4>
            </div>
        </div>
    </div>
    
    
</main>


{% endblock %}