{% extends 'base.html'%}
{% load static %}

{% block content %}

<main class="expertise container-fluid">
<!-- Banner with image and slogan to get user to read more below and trigger trust-->
    <div class="row">
        <div class="banner col-12">
            <div class="banner-img"></div>
            <div class="slogan crimson text-center px-4 p-md-5">
                <h2 class="slogan-header text-wheel">We are globally connected!</h2>
                <h4 class="text-oxford">Committed to a fair, transparent and empowering trade.</h4>
                <h4 class="text-oxford d-none d-md-block">Our recognised expertise guarantees quality products from the best resellers and develops reliable buyers.</h4>
            </div>
        </div>
    </div>
<!-- 3 different cards made with Bootstrap class but flippable with JS to reveal the answer to questions -->
    <div class="row px-4 p-md-5">
        <div class="col-12 col-md-6 col-lg-4 card w-100 who">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    
</main>


{% endblock %}