{% extends 'base.html'%}
{% load static %}

{% block content %}

<main class="expertise container-fluid">
<!-- Banner with image and slogan to get user to read more below and trigger trust-->
    <div class="row">
        <div class="banner col-12">
            <div class="banner-img"></div>
            <div class="slogan crimson text-center px-4 p-md-5">
                <h2 class="slogan-header text-wheel">We are globally connected!</h2>
                <h4 class="text-oxford">Committed to a fair, transparent and empowering trade.</h4>
                <h4 class="text-oxford d-none d-md-block">Our recognised expertise guarantees quality products from the best resellers and develops reliable buyers.</h4>
            </div>
        </div>
    </div>
<!-- https://www.w3schools.com/howto/howto_css_flip_card.asp -->
    <div class="row p-md-5 my-3">
        <div class="col-12 col-md-6 col-lg-4 who-card">
            <div class="who-card-contain">
                <div class="who-card-question">
                    <img class="who-card-img" src="{% static 'images/who.jpg' %}" alt="Who?">
                    <h1 class="text-uppercase text-oxford">Who are we?</h1>
                </div>
                <div class="who-card-reveal bg-wheel text-oxford">
                    <h1>3 experienced car traders!</h1>
                    <h3>10 years buying and shipping car parts between Ireland and Nigeria</h3>
                    <p>After doing this business alone for many years, we are now partnering together with the focus to improve our trade, targetting more success for our upstream and downstream clients as we look to expand the network and traffic.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 who-card">
            <div class="who-card-contain">
                <div class="who-card-question">
                    <img class="who-card-img" src="{% static 'images/eagle.jpg' %}" alt="Who?">
                    <h1 class="text-uppercase text-oxford">How we do it?</h1>
                </div>
                <div class="who-card-reveal bg-wheel text-oxford">
                    <h1>We follow the product!</h1>
                    <h3>We guarantee the quality of the product and the shipment.</h3>
                    <p>With our roots in both countries, there is no other middle man. We drive around Ireland to check the car part before it's even purchased. We then follow the shipment to Nigeria and ensure the importing process goes smoothly before delivering to our clients.</p>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}