{% extends 'base.html' %}
{% load static %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase text-center">
            <h1>Please confirm your billing details for the payment</h1>
            <hr>
        </div>
    </div>
    
    <form
        role="form"
        class="row py-3 mx-2 mx-md-5"
        id="payment-form"
        method="POST"
        action="{% url 'checkout_details' %}">
            
        <div id="credit-card-errors" style="display:none;">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="form-group col-md-6 px-md-1">
            {{ order_form|crispy }}
        </div>
        <div class="form-group col-md-6 px-md-1">
            {{ payment_form|crispy }}
        </div>
        {% csrf_token %}
        <div class="form-group px-1">
            <input class="btn btn-gal bg-wheel py-1 mb-3" id="submit_payment_btn" name="commit" type="submit" value="Pay">
        </div>
    </form>  
    
    <div class="row text-right mr-5 my-5">
        <div class="col-12">
            <h1>Total: {{ total }}<i class="fas fa-euro-sign"></i></h1>
        </div>
        <div class="col-12">
            <a href="{% url 'view_bag' %}" class="btn btn-gal bg-wheel py-1 mb-3" role="button">Edit bag</a>
        </div>
    </div>
 </main>

{% endblock %}