{% extends "account/base.html" %} {% load i18n %} {% block inner_content %}


  <!-- Login form -->



  <div class="row text-center mx-2">
    <div class="col-12 col-md-8 col-lg-6 mx-auto call-box text-left">
      <form
        class="px-4 py-3 login"
        method="POST"
        action="{% url 'account_login' %}"
      >
        {% csrf_token %}

        {{ form|crispy }}

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
            >
              Log in
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-gal my-0"
              href="{% url 'account_reset_password' %}"
              >{% trans "Forgot Password?" %}</a
            >
          </div>
        </div>
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
      </form>
    </div>
  </div>
  <!-- Two separate boxes for register or sign up, like on the home page -->
  <div class="row mx-2 pt-5 justify-content-center text-center text-oxford">
    <div class="col-md-8 col-lg-6 mx-xl-2 my-3 call-box crimson">
      <div class="row">
        <div class="col-12">
          <h4 class="call-header text-uppercase">
            Register and benefit from our popular network so you can sell your
            spare parts faster?
          </h4>
        </div>
        <div class="col-12">
          <a
            class="btn btn-gal bg-oxford text-wheel text-uppercase"
            href="{{ signup_url }}"
            >Register</a
          >
        </div>
        <div class="col-12">
          <small
            >Please note we only take spare parts for Toyota, Honda and
            Nissan.</small
          >
          <small
            >We can only buy when our dealers in Nigeria request the part
            advertised.</small
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
