{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <section class="py-5" id="home-img">
  <!-- Confirming email to reset password is sent -->
  <div class="row no-gutters text-center mx-2">
    <div class="col-12 col-md-6 mx-auto call-box">
      <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
      <h5>We have sent you an e-mail with instructions to reset your password. You should receive it within the next few minutes if the email address entered was correct.</h5>
      <h5>Please check your spam folder if you do not receive it after a few minutes.</h5>
    </div>
  </div>
</section>
    
{% endblock %}
