{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Change Password" %}{% endblock %} {% block content %}


<section class="py-5" id="home-img">
  <!-- Password change page -->
  <div class="row text-center mx-2">
    <div class="col-12 col-md-6 mx-auto call-box">
      <h1>{% trans "Change Password" %}</h1>
      <form
        class="px-4 py-3 password_change text-left"
        method="POST"
        action="{% url 'account_change_password' %}"
      >
        {% csrf_token %}
        <p>
          <label for="id_password1">New Password:</label>
          <input
            class="form-control"
            type="password"
            name="password1"
            placeholder="New Password"
            required=""
            id="id_password1"
          />
        </p>
        <p>
          <label for="id_password2">New Password (again):</label>
          <input
            class="form-control"
            type="password"
            name="password2"
            placeholder="New Password (again)"
            required=""
            id="id_password2"
          />
        </p>

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
              name="action"
            >
              Change Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}