{% extends "account/base.html" %} 

{% load i18n %} 
{% block head_title %}{% trans "Change Password" %}{% endblock %} 

{% block content %}

<section class="py-5" id="home-img">
  <div class="row text-center mx-2">
    <div class="col-12 col-md-6 mx-auto call-box">
      <h1>
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %} 
        {% if form %}
            <form class="px-4 py-3 text-left" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <p>
                    <label for="id_password1">New Password:</label>
                    <input 
                        class="form-control" 
                        type="password" 
                        name="password1" 
                        placeholder="New Password" 
                        required="" 
                        id="id_password1"
                    >
                </p>
                <p>
                    <label for="id_password2">New Password (again):</label>
                    <input
                        class="form-control"
                        type="password"
                        name="password2"
                        placeholder="New Password (again)"
                        required=""
                        id="id_password2"
                    >
                </p>

                <div class="row text-center">
                    <div class="col-12">
                        <input
                            type="submit"
                            class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
                            name="action"
                            value="{% trans 'change password' %}"
                        >
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
  </div>
</section>

{% endblock %}
