{% extends "account/base.html" %} {% load i18n %} {% block inner_content  %}

  <!-- Sign up form -->
  <div class="row text-center mx-2">
    <div class="col-12 col-md-8 col-lg-6 mx-auto call-box">
      <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
      <form
        class="px-4 py-3 signup text-left"
        id="signup_form"
        method="POST"
        action="{% url 'account_signup' %}"
      >
        {% csrf_token %}

        {{ form|crispy }}

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal btn-oxford text-wheel crimson text-uppercase"
            >
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
