{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Add padding to push down section from navbar but remove it from bigger screens -->
<section class="pt-5 pt-md-0" id="home-img">
    
    <div class="row mx-2 pt-5 justify-content-center text-center text-oxford">
    <div class="col-md-6 mx-xl-2 my-3 register-container crimson">
      <div class="row">
        <div class="col-12">
          <h4 class="call-header text-uppercase">
            Register and benefit from our popular network so you can sell
            your spare parts faster?
          </h4>
        </div>
        <div class="col-12">
          <a
            class="btn btn-gal bg-oxford text-wheel text-uppercase"
            href="{% url 'register' %}"
            >Register</a
          >
        </div>
        <div class="col-12">
          <small
            >Please note we only take spare parts for Toyota, Honda and
            Nissan.</small
          >
          <small
            >We can only buy when our dealers in Nigeria request the part
            advertised.</small
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-xl-2 my-3 crimson register-container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-uppercase">
            Get an account and start making a list of any interesting
            products to buy later...
          </h4>
        </div>

        <div class="col-12">
          <a class="btn btn-gal bg-oxford text-wheel text-uppercase" href=""
            >Sign Up</a
          >
        </div>
        <div class="col-12">
          <small
            >Please note we only have spare parts for Toyota, Honda and
            Nissan.</small
          >
          <small
            >Once your purchase is confirmed, we buy from our reseller and ship
            the part to you.</small
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
