{% block nav %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}" type="text/css">
{% endblock %}

<div class="container-error text-wheel crimson">
    <img src="{% static 'images/404.png' %}" alt="error" width="100%" height="100%"/>
    <div class="centered-error">Oops, this page is lost and buried in the sand!</div>
    <div class="mx-md-5 my-3 crimson">
        <a class="btn btn-head btn-oxford text-wheel text-uppercase" href="{% url 'home' %}">Go back to the home page</a>
    </div>
</div>

{% endblock %}