{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="CorkLagos Venture, trading spare car parts between Ireland and Nigeria">
<meta name="keywords" content="trade, import, export, car parts, spare parts, dismantle, Nigeria">
<meta name="author" content="MPia Kuti">

<!-- favicon -->
	<link rel="shortcut icon" type="image" href="{% static 'favicon/favicon-32x32.png' %}">

<!-- style links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<!-- link to my css file comes after to make sure it render over bootstrap style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

<title>CorkLagos Venture</title>
</head>
<body>

<nav class="navbar navbar-expand-lg text-center bg-oxford">

  <!-- Show this only on mobile to medium screens -->
  <a class="navbar-brand d-lg-none" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="100"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-road bg-wheel"></span>
  </button>
<!-- Show this only lg screens and up -->
  <div class="collapse navbar-collapse justify-content-around" id="navbarToggle">

    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expertise' %}">Our expertise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">Spare Parts</a>
      </li>
      <li class="navbar-brand m-0 d-none d-lg-block">
        <a href=""><img id="logo-lg" src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="100"></a>
      </li>  
      {% if user.is_authenticated %}     
      <!-- If user is not logged in, show login, if logged in, show account -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="{% if grand_total %}text-melon font-weight-bold{% else %}text-wheel{% endif %} nav-link" href="#">
                <i class="fas fa-shopping-cart"></i>
                <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}             
                    {% endif %}
                </p>
        </a>
      </li>
    </ul>
  </div>
</nav>

<span><img class="d-none d-md-block tribal" src="{% static 'images/tribal.png' %}" alt="tribal design"></span>

{% block content %} {% endblock %}

<!-- Footer -->
{% include 'footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>