{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="CorkLagos Venture, trading spare car parts between Ireland and Nigeria">
<meta name="keywords" content="trade, import, export, car parts, spare parts, dismantle, Nigeria">
<meta name="author" content="MPia Kuti">

<!-- favicon -->
	<link rel="shortcut icon" type="image" href="{% static 'favicon/favicon-32x32.png' %}">

<!-- style links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<!-- link to my css file comes after to make sure it render over bootstrap style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

<title>CorkLagos Venture</title>
</head>
<body>

<!-- Nav -->
{% include 'components/nav.html' %}

<span><img class="d-none d-md-block tribal" src="{% static 'images/tribal.png' %}" alt="tribal design"></span>

{% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% block content %} {% endblock %}

<!-- Footer -->
{% include 'components/footer.html' %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block head_js %}
{% endblock head_js %}

</body>
</html>