{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="CorkLagos Venture, trading spare car parts between Ireland and Nigeria">
<meta name="keywords" content="trade, import, export, car parts, spare parts, dismantle, Nigeria">
<meta name="author" content="MPia Kuti">

<!-- favicon -->
	<link rel="shortcut icon" type="image" href="{% static 'favicon/favicon-32x32.png' %}">

<!-- style links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<!-- link to my css file comes after to make sure it render over bootstrap style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

<title>CorkLagos Venture</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-nav">

<!--  Show this only on mobile to medium screens  -->
  <a class="navbar-brand d-md-none" href=""><img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="100"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--  Use flexbox utility classes to change how the child elements are justified  -->
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    
    
<!--   Show this only lg screens and up   -->
    <a class="navbar-brand d-none d-md-block" href=""><img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="100"></a>
    
    
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %} {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>