{% block footer %}

<section class="footer">
    <div class="container-fluid">
        <div class="row text-center bg-melon px-3">
            <div class="links-footer pl-md-5 pl-2 text-oxford col-12 col-lg-6">
                <h3 class="text-uppercase header-footer mb-3">Quick Links</h3>
                <div class="row text-center">
                    <div class="col-6 col-lg-12">
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">Home</a>
                            </div>
                        </div>
                       <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">Our Expertise</a>
                            </div>
                        </div>
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">Parts</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-6 col-lg-12">
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">FAQ</a>
                            </div>
                        </div>
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href=""><i class="fab fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-md-5 py-3 text-oxford">
                <h3 class="text-uppercase header-footer ">Send us a message</h3>
                <p>We will try to respond to your message within the next 48hours. Thank you for your trust.</p>
                <div class="row text-left">
                    <form class="col-12 my-1 needs-validation contact-form">
                        <input type="text" name="name" id="fullname" class="form-control form-field" placeholder="Your Name" required/>
                        <input type="email" class="form-control form-field" id="email" placeholder="Your Email" required/>
                        <input type="text" id="subject" placeholder="Subject" class="form-field" required/>
                        <textarea rows="5" name="querydetails" id="querydetails" class="form-control" placeholder="Your message" required>
                        </textarea>
                        <div class="form-row text-center">
                            <div class="col">
                                <button type="submit" class="btn bg-oxford text-melon btn-contact my-2">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-center bg-oxford p-3">
            <div class="col-12 text-melon px-3 mt-2">
                <h6>This website has been imagined and built only for educational purpose by MPia Kuti </h6>
            </div>
        </div>
    </div>
</section>

{% endblock %}