{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container-fluid">
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 col-lg-3 filter-section">
            <div class="row">
                <div class="col-6 filter-cat">
                    <h5 class="filter-header">Filter by category</h5>
                    <div class="filter-list mb-3">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="all" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="all">See All</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="engines" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="engines"><i class="fas fa-tachometer-alt mr-1"></i>Engines</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="gears" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="gears"><i class="fas fa-cogs mr-1"></i>Gear Boxes</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="lamps" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="lamps"><i class="far fa-lightbulb mr-1"></i>Lamps</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="radiators" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="radiators"><i class="fas fa-fire mr-1"></i>Radiators</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="bumpers" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="bumpers"><i class="fas fa-car-crash mr-1"></i>Bumpers</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 filter-brand">
                    <h5 class="filter-header">Filter by brand</h5>
                    <div class="filter-list mb-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="toyota" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="toyota">Toyota</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="honda" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="honda">Honda</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="nissan" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="nissan">Nissan</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}