{% block footer %}
{% load static %}

<section id="footer" class="footer">
    <div class="container-fluid">
        <div class="row text-center bg-oxford px-3">
            <div class="links-footer pl-md-5 pl-2 text-melon col-12 col-lg-6">
                <h3 class="text-uppercase header-footer mb-3">Quick Links</h3>
                <div class="row text-center">
                    <div class="col-6 col-lg-12">
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="{% url 'home' %}">Home</a>
                            </div>
                        </div>
                       <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="{% url 'expertise' %}">Our Expertise</a>
                            </div>
                        </div>
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="{% url 'listings' %}">Parts</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-6 col-lg-12">
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="">Dashboard</a>
                            </div>
                        </div>
                        <div class="links-item mb-md-3 row">
                            <div class="col-12">
                                 <a href="https://github.com/mkuti"><i class="fab fa-github-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-md-5 py-3 text-melon">
                <h3 class="text-uppercase crimson">Send us a message</h3>
                <p>We will try to respond to your message within the next 48hours. Thank you for your trust.</p>
                <div class="row text-left">
                    <form class="col-12 my-1 needs-validation contact-form" id="contact-form">
                        <input type="hidden" name="contact_number">
                        <input type="text" name="user_name" class="form-control form-field" placeholder="Your Name" required/>
                        <input type="email" class="form-control form-field" name="user_email" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                        <input type="text" class="form-control form-field" name="subject" placeholder="Subject" required/>
                        <textarea rows="5" name="message" class="form-control form-field" placeholder="Your message" required></textarea>
                        <div class="form-row text-center">
                            <div class="col">
                                <input type="submit" value="Send" class="btn bg-melon text-oxford btn-gal crimson my-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-center bg-melon p-3">
            <div class="col-12 text-oxford px-3 mt-2">
                <h6>This website has been imagined and built only for educational purpose by MPia Kuti </h6>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/contactform.js' %}"></script>
{% endblock%}