{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase text-center">
            <h2>Your current listings:</h2>
            <hr>
        </div>
    </div>
    <!-- Listing section -->
    
    <div class="row mx-md-5 mx-1 my-3">
        {% for listing in listings %}
        <div class="col-10 col-md-4 col-lg-3 px-1">
            <div class="listing-section mx-md-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-12">
                        <img src="{{ listing.listing_image.url }}" class="card-img" alt="{{ listing.listing_image.url }}">
                    </div>
                    <div class="col-12">
                        <div class="card-body py-2 text-center">
                            <h5 class="card-title px-3 text-wheel text-uppercase">{{ listing.listing_name}}</h5>
                            <div class="row text-beige text-center">
                                <div class="col-6">
                                    <a href="{% url 'editlisting' listing.id %}" class="btn btn-gal btn-wheel py-1 mb-3">Edit</a>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'deletelisting' listing.id %}" class="btn btn-gal btn-wheel py-1 mb-3">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 mx-auto call-box text-center p-1">
            <p class="text-oxford">You do not have any listings yet.</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 col-md-6 text-uppercase text-center">
            <h2>Add a new listing?</h2>
            <hr>
        </div>
    </div>

    <div class="row mx-4">
        <div class="col-12">
            
            <form
                    class="px-md-4 py-3 add_part text-left"
                    method="POST"
                    action=""
                    enctype="multipart/form-data"
                >
                <div class="row">
                    <div class="col-12 col-md-6 px-md-3">
                        {{ addform.listing_category|as_crispy_field }}
                        {{ addform.listing_brand|as_crispy_field }}
                        {{ addform.listing_name|as_crispy_field }}
                        {{ addform.listing_price|as_crispy_field }}
                        {{ addform.listing_image|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 px-md-3">
                        {{ addform.listing_description|as_crispy_field }}
                    </div>
                </div>
                {% csrf_token %}
                
                
          

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal btn-oxford text-wheel crimson text-uppercase"
            >
              Add the listing!
            </button>
          </div>
        </div>
      </form>
        </div>
        </div>  
</main>

{% endblock %}