{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-9 text-uppercase border-bottom">
            <h2>Your current listings:</h2>
        </div>
        <div class="col-3">
            <a href="#" type="button" class="btn btn-gal bg-wheel p-1 mb-3">Add a listing</a>
        </div>
    </div>
    <!-- Listing section -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 col-lg-9 d-flex ml-auto listing-section pl-2">
        <!--Listing section on smaller screens where image is floating outside and slightly on top of the container -->
            <div class="listing-item d-block d-lg-none">
                <div class="listing-content listing-container bg-oxford text-white p-3 text-right">
                    <div class="row">
                        <div class="col-12 listing-name">
                            <h4>Name:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 listing-description mr-2 mt-5 pt-1 text-justify">
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore sint a nisi magni voluptatum dignissimos quo soluta veritatis sequi quibusdam sit commodi perspiciatis eligendi quae, cum corporis excepturi adipisci. </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-2 listing-price">
                            <p><i class="listing-icon fas fa-euro-sign"></i></p>
                        </div>
                        <div class="col-4 listing-buy">
                            <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                        </div>
                        <div class="col-4 listing-buy">
                            <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="listing-img"></div>
            </div>
            <!--Listing section on larger screens where image is inside the container -->
            <div class="row d-none d-lg-block">
                <div class="col-12 listing-container my-lg-3">
                    <div class="row">
                        <div class="col-4 d-none d-lg-block">
                            <img src="#" alt="">
                        </div>
                        <div class="col-lg-8 text-white p-3">
                            <div class="row">
                                <div class="col-12 listing-name">
                                    <h4>Name:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 listing-description mr-2">
                                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore sint a nisi magni voluptatum dignissimos quo soluta veritatis sequi quibusdam sit commodi perspiciatis eligendi quae, cum corporis excepturi adipisci. </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 listing-price">
                                    <p><i class="listing-icon fas fa-euro-sign"></i></p>
                                </div>
                                <div class="col-4 listing-buy">
                                    <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                                </div>
                                <div class="col-4 listing-buy">
                                    <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 float-lg-right listing-section pl-2">
            <div class="listing-item d-block d-lg-none">
                <div class="listing-img"></div>
                <div class="listing-content listing-container bg-oxford text-white p-3 text-right">
                    <div class="row">
                        <div class="col-12 listing-name">
                            <h4>Name:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 listing-description mr-2 mt-5 pt-1 text-justify">
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore sint a nisi magni voluptatum dignissimos quo soluta veritatis sequi quibusdam sit commodi perspiciatis eligendi quae, cum corporis excepturi adipisci. </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-2 listing-price">
                            <p><i class="listing-icon fas fa-euro-sign"></i></p>
                        </div>
                        <div class="col-4 listing-buy">
                            <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                        </div>
                        <div class="col-4 listing-buy">
                            <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none d-lg-block">
                <div class="col-12 listing-container my-lg-3">
                    <div class="row">
                        <div class="col-4 d-none d-lg-block">
                            <img src="#" alt="">
                        </div>
                        <div class="col-lg-8 text-white p-3">
                            <div class="row">
                                <div class="col-12 listing-name">
                                    <h4>Name:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 listing-description mr-2">
                                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore sint a nisi magni voluptatum dignissimos quo soluta veritatis sequi quibusdam sit commodi perspiciatis eligendi quae, cum corporis excepturi adipisci. </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 listing-price">
                                    <p><i class="listing-icon fas fa-euro-sign"></i></p>
                                </div>
                                <div class="col-4 listing-buy">
                                    <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                                </div>
                                <div class="col-4 listing-buy">
                                    <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}