{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="home-img">    
    <div class="row pt-md-0 call-section justify-content-center text-center">
        <div class="col-12 call-box text-uppercase">
            <h1>Welcome back {{ profile.business_name }}</h1>
            <hr>
            <ul>
                <li><i class="fas fa-house-user"></i> {{ profile.street_address }}, {{ profile.street_address2 }}</li>
                <li>{{ profile.postcode }} {{ profile.city }}</li>
                <li>{{ profile.country }}</li>
                <li><i class="fas fa-phone-square-alt"></i> {{ profile.phone }}</li>
            </ul>
        </div>
        {% if user_type == 'dismantler' %}
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="mx-md-5 my-3 crimson">
                    <a class="btn btn-head bg-oxford text-wheel text-uppercase" href="{% url 'editprofile' %}">Edit your business details</a>                  
                </div>
                <div class="mx-md-5 my-3 crimson">
                    <a class="btn btn-head bg-oxford text-wheel text-uppercase" href="{% url 'addlisting' %}">Add a new listing</a>
                </div>
            </div>
        </div>
         {% else %}
         <div class="col-12">
            <div class="row mx-md-5 mx-1 my-3">
                <div class="col-12 text-uppercase text-center">
                    <h2>Your past orders:</h2>
                    <hr>
                </div>
            </div>
         </div>
         <div class="col-12">
            <div class="row mx-md-5 mx-1 my-3">
                {% for order in previous_orders %}
                <div class="col-12 px-1">
                    <div class="listing-section mx-md-2 mb-3">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h5 class="card-title px-3 text-wheel text-uppercase">{{ order.date }}</h5>
                            </div>
                            {% for item in order.orderitems.all %}
                            <table class="table table-borderless">
                                
                                <td>
                                    <p class="card-title text-beige px-3 text-uppercase">{{ item.listing.listing_name }}</p>
                                </td>
                                <td>
                                    <p class="text-beige text-left"> {{ item.listing.listing_brand }}</p>
                                </td>
                                <td>
                                    <p class="text-beige"> {{ item.listing.listing_price }}<i class="fas fa-euro-sign"></i></p>
                                </td>
                            </table>
                            {% endfor %}
                            <div class="col-12">
                                <h5 class="card-title px-3 text-wheel text-uppercase">€{{ order.total }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
         </div>
        {% endif %}
    </div>        
</section>

{% endblock %}