{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase border-bottom">
            <h1>Welcome back {{ user }}!</h1>
            <h2>Your current listings:</h2>
        </div>
    </div>
    <!-- Listing section -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 col-md-6 col-lg-4 pl-2">
            <div class="card">
                <div class="row">
                    <div class="col-12">
                        <div class="listing-img"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-header">Name:</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 listing-buy">
                        <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                    </div>
                    <div class="col-4 listing-buy">
                        <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col-12">
            <form
                    class="px-4 py-3 add_part text-left"
                    method="POST"
                    action=""
                >

                {% csrf_token %}
                
            <div class="row">
                <div class="col-12 col-lg-6 px-lg-1">
                
                <p>
                    <label for="listing_name">Please provide the name:</label>
                    <!-- <input
                    class="form-control"
                    type="text"
                    name="listing_name"
                    required=""
                    id="listing_name"
                    /> -->
                    {{ form.listing_name }}
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <p>
                    <label for="listing_price">Please enter the price of the car part (<i class="fas fa-euro-sign"></i>)</label>
                    <!-- <input
                    class="form-control"
                    type="text"
                    name="listing_price"
                    required=""
                    id="listing_price"
                    /> -->
                    {{ form.listing_price }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>
                    <label for="listing_description">Please provide a brief description of the car part:</label>
                    <!-- <textarea
                    class="form-control"
                    type="text"
                    name="listing_description"
                    required=""
                    id="listing_description"
                    rows="7" 
                    maxlength="300"
                    ></textarea> -->
                    {{ form.listing_description }}
                </p>
            </div>
            <div class="col-12 col-lg-6">
                    <h5>Please select the category:</h5>
                    <div class="row text-center">
                        <div class="col">
                            <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Engines">
                                <label class="form-check-label" for="inlineRadio1">Engines</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Gear Boxes">
                                <label class="form-check-label" for="inlineRadio2">Gear Boxes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Lamps">
                                <label class="form-check-label" for="inlineRadio3">Lamps</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="Radiators">
                                <label class="form-check-label" for="inlineRadio1">Radiators</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="Bumpers">
                                <label class="form-check-label" for="inlineRadio2">Bumpers</label>
                            </div> -->
                            {{ form.listing_category }}
                        </div>
                    </div>
                    <h5>Please select the car brand:</h5>
                    <div class="row text-center">
                        <div class="col-12">
                            <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="Toyota">
                                <label class="form-check-label" for="inlineRadio1">Toyota</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="Nissan">
                                <label class="form-check-label" for="inlineRadio2">Nissan</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="Honda">
                                <label class="form-check-label" for="inlineRadio3">Honda</label>
                            </div> -->
                            {{ form.listing_brand }}
                        </div>
                    </div>
                    <h5>Please upload an image of your product:</h5>
                    <div class="row text-center">
                        <div class="col-12">
                            <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="Toyota">
                                <label class="form-check-label" for="inlineRadio1">Toyota</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="Nissan">
                                <label class="form-check-label" for="inlineRadio2">Nissan</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="Honda">
                                <label class="form-check-label" for="inlineRadio3">Honda</label>
                            </div> -->
                            {{ form.listing_image}}
                        </div>
                    </div>
            </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
            >
              Add the listing!
            </button>
          </div>
        </div>
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
      </form>
        </div>
        </div>  
    </div>
</main>

{% endblock %}