{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase border-bottom">
            <h1>Welcome {{ user }}</h1>
        </div>
    </div>
        
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase border-bottom">
            <h2>Please provide more details about your business so we can exchange fairly</h2>
        </div>
    </div>

    <div class="row mx-4">
        <div class="col-12">
            
            <form
                    class="px-md-4 py-3 add_part text-left"
                    method="POST"
                    action=""
                >

                {% csrf_token %}
                
                {{ profile_form|crispy }}
          

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
            >
              Save your profile
            </button>
          </div>
        </div>
      </form>
        </div>
        </div>  
</main>

{% endblock %}