{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="container-fluid">
    <!-- Page headers -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-12 text-uppercase border-bottom">
            <h1>Welcome back {{ user }}!</h1>
            <h2>Your current listings:</h2>
        </div>
    </div>
    <!-- Listing section -->
    <div class="row mx-md-5 mx-1 my-3">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card-container mb-3 mx-md-3">
                <div class="card-img-contain">
                    <img src="{% static '/images/gear.png' %}" alt="...">
                </div>
                <div class="card-body py-0">
                    <h5 class="card-title">Name:</h5>
                </div>
                <div class="row">
                    <div class="col-4 listing-buy">
                        <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Edit</a>
                    </div>
                    <div class="col-4 listing-buy">
                        <a href="#" type="button" class="btn btn-gal bg-wheel py-1 mb-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col-12">
            <form
                    class="px-md-4 py-3 add_part text-left"
                    method="POST"
                    action=""
                    enctype="multipart/form-data"
                >

                {% csrf_token %}
                
                {{ form|crispy }}
          

        <div class="row text-center">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-gal bg-oxford text-wheel crimson text-uppercase"
            >
              Add the listing!
            </button>
          </div>
        </div>
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
      </form>
        </div>
        </div>  
</main>

{% endblock %}